* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-1: #9bec00;
  --color-2: #06d001;
  --color-3: #059212;
  --color-4: #ffffff;
  --color-5: #e84545;
  --font-main: "Zain", sans-serif;
  --font-heading: "Saira Stencil One", sans-serif;
  --font-sub: "Jersey 15", sans-serif;
}

body {
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.4);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  padding: 0.5rem 0.5rem;
  background-color: var(--color-3);
  border-radius: 50%;
}

.logo img {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}

.site-name-text {
  font-size: 2.3rem;
  font-family: "Saira Stencil One", sans-serif;
}

.socials-list {
  list-style-type: none;
  /* text-decoration: none; */
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  color: var(--color-3);
}

.social-handle {
  text-decoration: none;
  color: var(--color-3);
}

.main-body {
  height: 70vh;
  margin: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prompt-title {
  padding-bottom: 4rem;
  font-size: 3.4rem;
  text-align: center;
  font-family: "Zain", sans-serif;
  font-weight: 100;
}

.prompt-title-text span {
  font-family: var(--font-sub);
  font-size: 5rem;
}

.nationality-form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#name-input {
  height: 3rem;
  padding: 2rem;
  font-family: var(--font-main);
  font-size: 2rem;
  font-weight: 400;
  border: 1px solid #949494;
  box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem rgba(0, 0, 0, 0.3);
}

#submit-search-btn {
  height: 3.9rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--color-2);
  border-radius: 1rem;
  font-family: var(--font-main);
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--color-4);
}

.fa-magnifying-glass {
  padding-right: 0.5rem;
}

.search-information {
  padding-top: 2rem;
  font-size: 3rem;
  font-family: var(--font-sub);
}

.search-information .no-name {
  color: var(--color-5);
}
